[Unit]
Description=Gunicorn instance to serve selisah portfolio
After=network.target

[Service]
User=root
WorkingDirectory=/opt/selisah-portfolio-site
Environment="PATH=/opt/selisah-portfolio-site/venv/bin"
ExecStart=/opt/selisah-portfolio-site/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
